%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa

%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
%a{href: "#"}
  .group
    %p{class: "group--group-name"}
      test
    %p{class: "group--latest-message"}
      aa
