.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a

.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
.message
  .message__upper-info
    .message__upper-info--talker
      test1
    .message__upper-info--date
      2019/03/27(Wed) 19:32:05
  %p{class: "message--text"}
    a
